@media (prefers-reduced-motion: no-preference){
	*{
		scroll-behavior: smooth;
	}
}

*,
*::before,
*::after{
	box-sizing: border-box;
}

/* Header */
header{
	font-family: "Monsterrat", sans-serif;
	background-color: black;
	color: white;
	height: 60px;
	padding: 0rem;
	margin: 0;
	position: fixed;
	width: 100%;
	top: 0;
	left: 0;
}

.container{
	height: inherit;
	width: 100%;
	padding: 0 20px 0 20px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.top-left{
	margin: 0;
	padding: 0;
	font-weight: 400;
	font-size: 1.65rem;
}

.top-right{
	margin: 0;
	padding: 0;
}

.right-container{
	width: min(400px, 60vw);
}

nav > ul > li :hover {
	background-color: white;
	color: black;
	cursor: pointer;
}

li > a{
	text-decoration: none;
	color: inherit;
	margin: 0 0.25rem;
}

.red{
	color:#FF6666;
}

nav > ul{
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	align-items: center;
	list-style: none;
	flex-wrap: wrap;
}

.divider-top{
	border-bottom: 0.5px solid #333333;
}

/* BODY */
html, body{
	background-color: black;
	width: 100%;
	height: 100%;
	font-family: "Monsterrat", sans-serif;
}


/* First Page */

.first-page h2{
	color: white;
	text-align: center;
	font-size: 75px;

}

.first-page{
	height: 100vh;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

/* ABOUT PAGE */

.second-page{
	color: #BABABA;
	padding-top: 120px;
	margin: 0 6vw;
}

.second-page h2{
	font-size: 2.25rem;
	margin: 0 0 0.75rem 0;
	padding-top: 72px;
}

.divider{
	width: 100%;
	border-bottom: 2px solid #9C9C9C;
}

.second-page p{
	display: inline-block;
	max-width: 650px;
	width: min(100vw, 600px);
}

.second-page img{
	display: inline-block;
	width: 400px;
	height: auto;
}

.about-container{
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: flex-start;
	width: 100%;
	flex-wrap: wrap;
	padding-top: 0.8rem;
}

p > a, address > a:visited{
	color:#787878;
}

/* Dicography Page */

.discography-page{
	color: #BABABA;
	padding-top: 120px;
	margin: 0 6vw;
}

.discography-page h2{
	font-size: 2.25rem;
	margin:0 0 0.75rem 0;
	padding: 0;
}

.scroll-container{
	height: 290px;
	width: 100%;
	padding: 0rem;
	margin-top: 2.25rem;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: flex-start;
	overflow: scroll;
}

.discography-text{
	font-size: 1.125rem;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
}

.discography-text span{
	width: 250px;
	margin-right: 2rem;
	text-align: center;
	font-weight: 700;
}

.discography-figure{
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
}

.discography-figure img{
	height: 250px;
	width: 250px;
	margin-right: 2rem;
	border-radius: 0.25rem;
}

/* Footer */
footer{
	margin: 3rem auto;
	background-color: black;
	color: white;
	text-align: center;
	font-size: 0.8rem;
}
